<style>
  .service-frame {
    border-style: solid;
    width: 500px;
    margin-left: 20px;
    padding: 20px;
  }
  .service-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }
  .heading {
    font-size: 150%;
    font-weight: bold;
    text-align: center;
  }
  
  .items-container {
  display: flex;
}

  .items {
    width: 170px;
  }
  
    .coins {
    width: 85px;
  }
  
</style>